@media (max-width:767px){
    #reset-pwd-form{
        padding: 0em 1em;
    }
    div.row.input-fields{
        padding: 0em 2em;
    }
}
::ng-deep snack-bar-container.custom-class {
    background: #ffff;
    border: 3px solid #60d860;
  }
  
  ::ng-deep .custom-class .mat-simple-snackbar {
      font-size: 20px;
    color: #60d860;
    text-align: center;
  }

  ::ng-deep snack-bar-container.custom-class-un {
    background: #ffff;
    border: 3px solid #333333;
  }
  
  ::ng-deep .custom-class-un .mat-simple-snackbar {
      font-size: 20px;
    color: #333333;
    text-align: center;
  }