
button:focus{
    outline: none;
}
/* @media(max-width:400px){
    button{
       min-width: 200px!important;
    }
} */
@media(max-width:575px){
    #content{
    }
        button{
            margin: 5px;
            text-align: left;
        }
            img{
                width: 15px;
                margin-right: 10px;
           
        }
    
}
@media(min-width: 576px) and (max-width:767px){
    #content{
        background-color: #F4F3F5;
        padding: 2em 1em 2em 2em;
        padding: 1em;
        width: 100%;
    }
        div{
            width: 100%;
        }
            section{
                margin: 0.5em auto;
            }
            button{
                margin: 5px;
                text-align: left;
            }
                img{
                    width: 15px;
                    margin-right: 10px;
                }
            }
        
    

    .secondary-btn span{
        padding: 0em 0.5em;
    }

@media(min-width:768px) and (max-width:991px){
    #content{
        background-color: #F4F3F5;
        padding: 2em 1em 2em 2em;
        padding: 1.5em;
        width: 100%;
        bottom: 0;
    }
        div{
            width: 100%;
        }
            section{
                margin: 0.5em auto 1.5em;
            }
            }
            button{
                margin: 5px;
                text-align: left;
            }
                img{
                    width: 15px;
                    margin-right: 10px;
                }
            
        
    

    .secondary-btn span{
        padding: 0px 5px;
    }

@media(min-width:992px) and (max-width: 1199px){
    #content{
        background-color: #F4F3F5;
        padding: 2em 1em 2em 2em;
        padding: 1.4em 2.6em;
        width: 85%;
        width:350px;
        height: 100%;
        max-width: 500px;
    }
       div{
            width: 90%;
            
       }
            button{
                margin-bottom: 1em;
                text-align: left;
                width: 100%!important;
            }
                img{
                    width: 15px;
                    margin-right: 10px;
                }
            
        
    

    .secondary-btn span{
        padding: 0em 0.5em;
    }

@media(min-width:1200px){
}
    #content{
        background-color: #F4F3F5;
        padding: 2em 1em 2em 2em;
        padding: 2.6em;
        width: 85%;
        width:350px;
        height: 100%;
        max-width: 500px;
    }
       div{
            width: 90%;
       }
            label{
                height: 80px;
            }
            button{
                max-width: 250px;
                margin-bottom: 1.5em;
                text-align: left;
                width: 100%;
            }
                img{
                    width: 16px;
                }
            
        
            }  

    .secondary-btn span{
        padding: 0em 0.5em;
    }