<section id="content" class="text-center">
  <h1 class="page-title mb-4">Welcome to <span class="ideaphy-text" style="font-size: 18.5px;">Boss</span></h1>
  <div class="row no-gutters">
    <label class="small-text">
      The quick and exciting way to immortalize your ideas and impact the world.
    </label>
    <section>
      <button mat-stroked-button class="secondary-btn info-btn">
        <img src="assets/icon/social/google.png" />
        <span>Login with Google</span>
      </button>
      <button mat-stroked-button class="secondary-btn info-btn">
        <img src="assets/icon/social/facebook-square.png" />
        <span>Login with Facebook</span>
      </button>
    </section>
  </div>
</section>